# Created by https://www.gitignore.io

### NetBeans ###
nbproject/private/
build/
nbbuild/
# Keep this .jars in our repository.
# dist/
# Ignore that README.txt NetBeans makes
dist/README.txt
nbdist/
nbactions.xml
nb-configuration.xml

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# Keep .jars in our repository.
# *.jar
*.war
*.ear